<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="php 5.2.4" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\php\php-cgi.exe" resourceType="Unspecified" />
            <add name="php" path="*.php" verb="*" modules="IsapiModule" scriptProcessor="E:\php\php5isapi.dll" resourceType="Unspecified" preCondition="bitness32" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
